*.user
*.ncb
*.suo
*.ipch
installer/game_distrib_files/*
installer/output/game/*
installer/output/setup.exe
installer/output/3rdparties/*
*.ipch
*.sdf
*.opensdf
*.lastbuildstate
*.tlog
*.~cpp
*.~h
*.~hpp
*.~c
*.~bpr
*.~dfm
*.~bpf
*.rej
*.~ddp
xray-svn-trunk/xr_3da/xrRender_R1/.vs/xrRender_R1/v15/Browse.VC.db
xray-svn-trunk/xr_3da/.vs/XR_3DA/v15/Browse.VC.db
xray-svn-trunk/xr_3da/.vs/XR_3DA/v15/Solution.VC.db
xray-svn-trunk/xr_3da/.vs/XR_3DA/v15/Browse.VC.opendb
xray-svn-trunk/xr_3da/.vs/XR_3DA/v15/Solution.VC.db-shm
xray-svn-trunk/xr_3da/.vs/XR_3DA/v15/Solution.VC.db-wal
bin_debug/xrAPI.dll
bin_debug/xrAPI.pdb
bin_debug/xrCPU_Pipe.dll
bin_debug/xrCPU_Pipe.ilk
bin_debug/xrCPU_Pipe.pdb
bin_debug/xrGame.dll
bin_debug/xrGame.ilk
bin_debug/xrGame.pdb
bin_debug/xrRender_R4.dll
bin_debug/xrRender_R4.ilk
bin_debug/xrRender_R4.pdb
.vs/VSWorkspaceState.json
libraries/Debug/xrGame.lib
libraries/Debug/xrGame.exp
libraries/Debug/xrCPU_Pipe.lib
libraries/Debug/xrCPU_Pipe.exp
libraries/Debug/xrAPI.lib
libraries/Debug/xrAPI.exp
libraries/Debug/xrRender_R4.exp
libraries/Debug/xrRender_R4.lib
*.exp
libraries/x64/Debug/xrCPU_Pipe.lib
*.hint
*.db
*.aps
xray-svn-trunk/LuaJit/src/LuaJit.lib
xray-svn-trunk/LuaJit/src/LuaJit.dll
xray-svn-trunk/LuaJit/src/luajit.exe
